@font-face {
  font-family: "bondfire-bl";
  src: url("Fonts/Trap-Black.otf") format("opentype");
  font-weight: bolder;
}
@font-face {
  font-family: "bondfire-bd";
  src: url("Fonts/Trap-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "bondfire-re";
  src: url("Fonts/Trap-Regular.otf") format("opentype");
}

@font-face {
  font-family: "bondfire-li";
  src: url("Fonts/Trap-Light.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "bondfire-sb";
  src: url("Fonts/Trap-SemiBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "bondfire-me";
  src: url("Fonts/Trap-Medium.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "bondfire-sc";
  src: url("Fonts/Scratchy.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px for easier rem calculations */
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  /* background: #151515; NO USE AS BACKGROUND COLOR IS BASED ON THE SPLIT SCREEN */
  scroll-behavior: smooth;
  color: #f6f6f6;
  /* font-family: "bondfire-li"; */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  /* cursor: url("Images/cursorarrow.svg") 2 2, auto; */
  /* text-align: justify; */
}
::selection {
  background-color: #ffa700;
  color: #f6f6f6;
}
/* @keyframes rotateCursor {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#cursormono {
  animation: rotateCursor 2s linear infinite;
} */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(63, 63, 63); */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 0.05rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #151515;
}

h1 {
  font-size: 12rem;
  font-family: "bondfire-bl";
  font-weight: bolder;
  text-transform: uppercase;
}
h2 {
  font-size: 10rem;
  font-family: "bondfire-bd";
}
h3 {
  font-size: 6rem;
  font-family: "bondfire-sb";
}
h4 {
  font-size: 4rem;
  font-family: "bondfire-sb";
}
h5 {
  font-size: 3rem;
  font-family: "bondfire-sb";
}
h6 {
  font-size: 2.5rem;
  font-family: "bondfire-re";
  font-weight: normal;
}
p {
  font-size: 1.8rem;
  font-family: "bondfire-me";
}
a {
  font-size: 1.8rem;
  font-family: "bondfire-me";
  text-decoration: none;
}
.no-scroll {
  overflow: hidden;
}

.aside {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 25;
  backdrop-filter: blur(0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  left: 100%;
  overflow: hidden;
}
.show {
  display: flex;
  left: 0%;
}
.modal {
  position: relative;
  width: 60vw;
  background: #151515;
  height: 90vh;
  border-radius: 3rem;
  padding: 8rem 10rem 0rem 10rem;
  transform: translateY(-100%);
  overflow: hidden;
  /* box-shadow: 0px 1px 20px 0px rgb(255 255 255 / 25%); */
}
.modal1 {
  position: relative;
  width: 60vw;
  background: #f6f6f6;
  height: 90vh;
  border-radius: 3rem;
  padding: 8rem 10rem 0rem 10rem;
  transform: translateY(-100%);
  overflow: hidden;
  /* box-shadow: 0px 1px 20px 0px rgb(255 255 255 / 25%); */
}
.modal .show_text {
  transform: translateY(0);
}

.aside_container {
  height: 100%;
  overflow: scroll;
}
.aside_container::-webkit-scrollbar {
  display: none; /* For WebKit browsers (Chrome, Safari) */
}
.aside_container ul li {
  margin-bottom: 1rem;
  list-style: none;
}

.aside_container ul li a {
  font-family: "bondfire-bl";
  font-size: 5.5rem;
  color: #f6f6f6;
  text-decoration: none;
}
.aside_container1 ul li a {
  font-family: "bondfire-bl";
  font-size: 5.5rem;
  color: #151515;
  text-decoration: none;
}
.aside_container1::-webkit-scrollbar {
  display: none;
}
.aside_container1 ul li {
  margin-bottom: 1rem;
  list-style: none;
}

.aside_container1 ul li a {
  font-family: "bondfire-bl";
  font-size: 5.5rem;
  color: #151515;
  text-decoration: none;
}
.cross {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  right: 5rem;
  top: 5rem;
  background-color: #424242;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.cross span {
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  background: #f6f6f6;
  /* transform-origin: center; */
  top: 2rem;
  left: 1rem;
}
.cross span:nth-child(1) {
  transform: rotate(45deg);
}
.cross span:nth-child(2) {
  transform: rotate(-50deg);
}
.cross:hover {
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}
.socials {
  display: flex;
  position: relative;
  list-style: none;
  text-decoration: none;
  color: #f6f6f6;
  justify-content: space-between;
}
.socials1 {
  display: flex;
  position: relative;
  list-style: none;
  text-decoration: none;
  color: #151515;
  justify-content: space-between;
}
.socials li a {
  list-style: none;
  text-decoration: none;
  color: #f6f6f6;
}
.socials1 li a {
  list-style: none;
  text-decoration: none;
  color: #151515;
}
.socialslink {
  display: flex;
  gap: 2rem;
}
.sidenav p {
  margin-top: 4rem;
  font-size: 2rem;
}
.sidenav1 p {
  margin-top: 4rem;
  font-size: 2rem;
  color: #151515;
}
.aside_btn a {
  position: relative;
  color: #f6f6f6;
  background-color: #ffa700;
  padding: 2rem 5rem;
  border-radius: 5rem;
  text-decoration: none;
  bottom: 1rem;
}
.blob {
  width: 20rem;
  height: 20rem;
  background: #ffa700;
  position: absolute;
  border-radius: 150rem;
  filter: blur(15rem);
  bottom: -10rem;
  right: 0rem;
}
.sidenav ul li svg {
  display: flex;
}
.sidenav ul li {
  display: flex;
}
.sidenav ul li svg {
  /* display: none;  */
  position: relative;
  width: 0rem;
  transition: 0.3s ease-in-out;
}

.sidenav ul li:hover svg {
  position: relative;
  width: 6rem;
  transition: 0.3s ease-in-out;
}
.sidenav ul li:hover a,
.sidenav ul li a:hover {
  color: #ffa700;
  margin-left: 1rem;
  transition: 0.3s ease-out;
}
.arr {
  fill: white;
}
.font_arr {
  fill: #151515;
}
.arr1 {
  fill: #151515;
}
.font_arr1 {
  fill: #f6f6f6;
}
main {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;

  /* overflow-y: hidden !important; */
}
.viewport{
  position: absolute;
  top: 10rem;
  z-index: 100;
  color: black;
  display:none;
}
.homepg {
  min-height: 100vh;
  position: fixed;
  width: 100vw;
  background: #f6f6f6;
  z-index: 1;
}

nav {
  padding: 1rem 8rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  z-index: 15;
}
nav img {
  width: 18rem;
}
.ser-ani {
  height: 2rem;
  overflow: hidden;
  position: relative;
}
.animated-text {
  width: 100%;
  margin: 0;
  padding: 0;
  /* animation: slideUp 15s cubic-bezier(1, 0, 0, 1) infinite; */
  color: #151515;
  margin-bottom: 0.5rem;
}
@keyframes slideUp {
  0% {
    transform: translateY(5%);
  }
  20% {
    transform: translateY(-120%);
  }
  40% {
    transform: translateY(-260%);
  }
  60% {
    transform: translateY(-380%);
  }
  80% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(-500%);
  }
}

nav .nav-r {
  display: flex;
  gap: 5rem;
  align-items: center;
  z-index: 10;
}

.nav-r a {
  padding: 1.5rem 3rem;
  border: 0.2rem solid #ff0056;
  background: #ff0056;
  color: #f6f6f6;
  text-decoration: none;
  text-align: center;
  border-radius: 10rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  cursor: pointer;
  position: relative;
}
.hamburger span {
  width: 4rem;
  height: 0.2rem;
  position: relative;
  background: #151515;
  display: flex;
  border-radius: 2rem;
  cursor: pointer;
  right: 0rem;
  transition: 0.3s ease-in-out;
}
.hamburger:hover span:nth-child(3) {
  position: relative;
  width: 2.5rem;
  right: -1.5rem;
  transition: 0.3s ease-in-out;
}

.head_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}
.google_search {
  display: none;
}
#drawingCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.feelfree {
  position: absolute;
  top: 10rem;
  right: 2rem;
}
.feelfree h5 {
  font-family: "bondfire-sc";
  font-size: 3rem;
  color: #1574d8;
  text-align: center;
}
.header-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.header-content {
  text-align: center;
  padding: 5rem 0rem;
  /* width: 100%; */
}
.head_top {
  position: relative;
  display: flex;
  color: #151515;
  /* padding-left: 8rem; */
}
.header-content h1 {
  line-height: 1;
  color: #151515;
}
.head_one {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  /* padding: 0rem 0rem 0rem 16rem; */
  /* align-items: center; */
}
.head_one h5 {
  color: #151515;
  position: relative;
  margin: auto;
  margin-left: 4rem;
  align-items: center;
  justify-items: center;
}

.head_two {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
  /* padding-right: 16rem; */
}
.head_two img {
  width: 20rem;
  margin-right: 5rem;
  height: 12rem;
  border-radius: 10rem;
}
.head_three {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20rem;
  color: #151515;
  /* padding-left: 16rem; */
}
/* .roller_container{
  width: 100%;
  height: auto;
} */
.p_g1 {
  width: 100vw;
  height: 100%;
  /* border-top: 0.2rem solid #151515; */
  padding-top: 2rem;
}
.p_g1containger {
  display: flex;
  justify-content: center;
  height: 6rem;
  gap: 8rem;
}

.p_g1containger .hmpglogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.p_g1 img[alt="redbull"] {
  padding: 0.8rem 0rem;
}
.duplicate{
  display: none;
}

.toproller {
  margin-left: 4rem;
  width: 100%;
  height: 9rem;
  /* background: #ff0059; */
  background: #151515;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  border-radius: 1rem 0rem 00rem 1rem;
}
.midroller {
  margin-right: 4rem;
  width: 100%;
  height: 9rem;
  background: #1574d8;
}
.rollerbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; /* Adjust width based on content */
  flex-shrink: 0; /* Prevent shrinking */
}
.rollerbtn h6 {
  font-size: 1.6rem;
  text-wrap: nowrap;
  border-radius: 50rem;
  border: 0.1rem solid #ff0059;
  padding: 1.5rem 3rem;
  color: #ff0059;
}
.slit_screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 0%;
}
.split_one {
  position: relative;
  width: 100vw;
  background: #151515;
}

/* ===================== HOMEPAGE_ SECOND_MAIN _CONTAINER===================================================================================================== */
.m_hmpg {
  position: relative;
}
.nextnav {
  position: relative;
  width: 100vw;
  background-color: #f6f6f6;
  /* top: 0rem; */
  /* opacity: 0; */
  z-index: 1;
  /* display: none; */
}

/* .gridhoverbg {
  width: 100vw;
  height: 100vh; 
  position: fixed;
  overflow: hidden;
  top: 0rem;
  z-index: 2;
  opacity: 0;
} */

.gridhoverbg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0rem;
  /* z-index: 2; */
  z-index: -2;
  opacity: 0;
  display: none;
}

.dot-grid {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.dot-grid .dot {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffffff11;
  border-radius: 50%;
  transform: scale(0.2);
  transition: transform 0.3s ease;
  pointer-events: none; /* To ensure it doesn't block the hover events */
}

/* ======================HOMEPAGE_PAGE2======================================================================================================= */

.page2 {
  position: relative;
  margin-top: 48%;
  z-index: 3;
  /* padding: 10rem ; */
  /* min-height: 150vh; */
}
.p2_txt {
  padding: 10rem 10rem 10rem 10rem;
  display: flex;
}
.p2_left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* #build{
  color: #ff0059;
}
#impactful{
  color: #ffa700;
}
#experiences{
  color: #1574d8;
} */
.ashtrik_ {
  position: relative;
  display: flex;
  justify-content: end;
  transition: transform 0.7s ease-in-out;
  transform-origin: center;
}
/* .ashtrik_:hover{
  transform: rotate(360deg);
} */
.ashtrik_ .logo {
  width: 18vw;
  background: #393939;
  padding: 6rem;
  border-radius: 50rem;
  position: relative;
}
.ashtrik_ .logo img {
  width: 100%;
}
.p2conn {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-0%);
  width: 100%;
  height: 100%;
  transform-origin: center;
}
.p2conn p {
  color: #f6f6f6;
}

.p2conn span {
  position: absolute;
  transform-origin: 0% 8vw;
}
.p2rbtm h3,
.p2rbtm h6,
.p2rbtm p {
  text-align: end;
}
.page2 h5,
.page2 h2 {
  color: #f6f6f6;
}
.p2_txt h3 {
  width: 70%;
  text-transform: capitalize;
  font-size: 6rem;
  font-family: "bondfire-me";
}
.p2_txt h3 span {
  font-family: "bondfire-bl";
  text-transform: uppercase;
  /* color: #1574d8; */
}
.p2_txt h5 {
  padding-bottom: 2rem;
  font-family: "bondfire-li";
}
.p2_txt h3 {
  text-transform: uppercase;
}

.wk_mar {
  overflow: hidden;
  white-space: nowrap;
  /* padding: 2rem 0rem; */
  background-color: #1f1f1f;
  /* margin-top:4rem ; */
}

.wk_mar_con {
  display: inline-block;
  animation: marquee 75s linear infinite;
}
.wk_mar_con {
  padding: 2rem 0rem;
  background-color: #1f1f1f;
}

.wk_mar_con h2 {
  display: inline; /* Ensure text stays in one line */
  color: #1f1f1f; /* Text color */
  text-shadow: -0.5px -0.5px 0 #f6f6f6, 0.5px -0.5px 0 #f6f6f6,
    -0.5px 0.5px 0 #f6f6f6, 0.5px 0.5px 0 #f6f6f6;
  font-size: 5rem;
}

@keyframes marquee {
  0% {
    transform: translateX(5%); /* Start from right side */
  }
  100% {
    transform: translateX(-100%); /* Move to left side */
  }
}

.inner_pg {
  display: none;
  flex-direction: column;
  gap: 0.8rem;
  cursor: pointer;
  color: white;
  z-index: 15;
  position: fixed;
  top: 3rem;
  opacity: 0;
  right: 8rem;
  mix-blend-mode: difference;
}

.inner_pg span {
  width: 4rem;
  height: 0.2rem;
  position: relative;
  background: #f6f6f6;
  display: flex;
  border-radius: 2rem;
  cursor: pointer;
  right: 0rem;
  transition: 0.3s ease-in-out;
}
.inner_pg:hover span:nth-child(3) {
  position: relative;
  width: 2.5rem;
  right: -1.5rem;
  transition: 0.3s ease-in-out;
}

/* ================================================================== HOME_PAGE CASE_STUDIES=================================================================== */
.p_g3 {
  z-index: 4;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.p_g3container {
  display: flex;
}
.p3l {
  position: relative;
  position: sticky;
  width: 30vw;
  padding: 8rem 4rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  top: 0;
}
.p3l a {
  background: #ffa700;
  color: #f6f6f6;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  text-align: center;
}
.p3r {
  width: 70vw;
  min-height: 100vh;
  padding: 0rem 8rem 2rem 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.c_loader {
  position: absolute;
  width: 0.2rem;
  height: 100vh;
  background: rgb(38, 38, 38);
  right: -1rem;
  top: 0rem;
}
#loadcontroller {
  width: 100%;
  height: 0%;
  position: relative;
  background-color: white;
}
.casestudy {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  padding-top: 8rem;
  border-top: 0.1rem solid white;
}
.p3r .casestudy:first-of-type {
  /* Your styles here */
  border-top: 0.1rem solid rgba(255, 255, 255, 0);
}
.casehead {
  display: flex;
}
.caseserv {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.caseserv p {
  padding: 1rem 2rem;
  border: 0.1rem solid #f6f6f6;
  border-radius: 10rem;
}
.caseimage {
  width: 100%;
  height: 80vh;
  border-radius: 0.5rem;
  overflow: hidden;
}
.caseimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ====================HOME_PAGE SERVICE=============================================================================================== */

.services {
  position: relative;
  z-index: 5;
}

.services-heading {
  display: flex;
  padding: 20rem 8rem 8rem 8rem;
  gap: 8rem;
}
.offer_container {
  position: relative;
  padding: 0rem 8rem 12rem 8rem;
}
.each_offers {
  position: relative;
  text-align: center;
  height: 22rem;
  border-bottom: 0.1px solid #424242;
  overflow: hidden;
}
.serv_title {
  position: relative;
  top: 5rem;
  transition: 0.3s ease-in-out;
}
.each_offers h1 {
  font-size: 18rem;
  position: relative;
  top: 5rem;
  transition: 0.3s ease-in-out;
}
.sub_serv {
  position: absolute;
  /* top: 0rem; */
  display: flex;
  bottom: 2rem;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.sub_serv p {
  border-radius: 5rem;
  padding: 1.5rem 3rem;
  position: relative;
}

.strategy1 p {
  background: #ff0059;
}
.design2 p {
  background: #ffa700;
}
.development3 p {
  background: #1574d8;
}
/* .strategy1 p:nth-of-type(1){
  top: 4vh;
  left: 25vw;
}
.strategy1 p:nth-of-type(2){
  top: 12vh;
  left: 15vw;
}
.strategy1 p:nth-of-type(3){
  top: 2vh;
  left: 50vw;
} */
.each_offers:hover .serv_title {
  top: 0rem;
  transition: 0.3s ease-in-out;
}
.each_offers:hover .serv_title h1 {
  color: #151515;
  text-shadow: -0.5px -0.5px 0 #6b6b6b, 0.5px -0.5px 0 #5c5c5c,
    -0.5px 0.5px 0 #5c5c5c, 0.5px 0.5px 0 #5c5c5c;
  transition: 0.3s ease-in-out;
}
.each_offers:hover .sub_serv {
  /* display: flex; */
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.heading_serv {
  background: #202020;
  padding: 2rem 0rem 0rem 0rem;
  overflow: hidden;
}
.heading_serv h2 {
  position: relative;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  line-height: 1;
}
.servicescontrainer {
  min-height: 100vh;
  width: 100%;
  z-index: 5;
  position: relative;
  padding-top: 8rem;
}
.elem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  gap: 4rem;
}
.elem img {
  opacity: 0;
  transition: all ease-out 0.5s;
  /* transform: translateX(20%); */
}
.servimg1,
.servimg2 {
  width: 100%;
  flex: 1;
  height: 10vh;
}
.servimg1 img,
.servimg2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-div {
  height: 9vh;
  position: relative;
  z-index: 5;
  overflow: hidden;
  width: 100%;
  text-align: center;
  width: auto; /* Allow text div to size based on content */
  white-space: nowrap; /* Prevent text from wrapping to next line */
  text-align: center;
  flex-shrink: 0; /* Prevent text div from shrinking */
}
.elem h3 {
  /* font-size: 7.5vw; */
  transition: all ease-out 0.5s;
}

.elem:hover h3 {
  transform: translateY(-100%);
  color: #ffa700;
}
.elem a {
  transform: translateY(-100%);
  color: #f6f6f6;
  margin-top: 1rem;
}
.elem:hover img {
  opacity: 1;
  transform: translateY(0%) rotate(0deg);
}
/* ========================= INDUSTRIES WE SERVE IN ================================================================================== */
.whmpg {
  position: relative;
  z-index: 6;
  min-height: 100vh;
}
.wk {
  padding: 8rem 8rem 12rem 8rem !important;
  display: flex;
  z-index: 6;
  height: auto;
  gap: 8rem;
}
.sp {
  width: 50%;
}
.sp h3 {
  margin-bottom: 2rem;
}
.aoe h2 {
  margin-bottom: 1.8rem;
  font-size: 5rem;
}
.h6-hosp,
.h6-realst,
.h6-fintech {
  color: #424242; /* Initial color */
}

.wk_desc {
  position: sticky;
}
.industries {
  display: flex;
  flex-direction: column;
  width: 150%;
  height: auto;
  gap: 8rem;
  z-index: 6;
  position: relative; /* Ensure proper stacking of children */
}
.aoe_con {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2vh;
}
.crd {
  width: 100%;
  height: 60vh;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  position: relative; /* Allow overlapping */
  top: 0; /* Align cards at the top */
  overflow: hidden;
  box-shadow: rgb(40 40 40 / 62%) 4px -3px 20px 0px;
}
.crd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hosp {
  position: relative;
  top: 0%;
  z-index: 2;
}
.realst {
  background: red;
  position: relative;

  z-index: 2;
}
.fintech {
  background: rebeccapurple;
  position: relative;
  /* top: -120vh; */
  z-index: 3;
}

/* =========================HOW WE DO IT ============================================================================================== */
.how_we_do_it {
  z-index: 7;
  position: relative;
  padding: 5rem 0rem;
}
.hwdt {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* margin: 0rem auto; */
}

.page3_stick {
  width: 100%;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.p3_sticky_inner {
  position: sticky;
  width: 100vw;
  min-height: 100vh;
}
.img_container_p3 {
  width: 33.3333vw;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
  box-shadow: 1.5rem 0 2rem rgba(0, 0, 0, 0.11);
}
.img_container_p3 img {
  width: 100%;
  height: 100vh;
}
#col1 {
  position: absolute;
  top: 150%;
  left: 66.66vw;
  background-color: #1574d8;
}
#col2 {
  position: absolute;
  left: 33.33vw;
  top: 125%;
  background: #ffa700;
}
#col3 {
  position: absolute;
  top: 100%;
  background: #ff0056;
}

.p3_text {
  width: 66.66vw;
  position: absolute;
  bottom: 0%;
  color: #f6f6f6;
  margin-top: 50%;
  min-height: 100vh;
  padding: 15rem 20rem 5rem 8rem;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  /* top: 50%;
  transform: translateY(-50%); */
}

.p3_text h6 {
  color: #adadad;
  font-weight: lighter;
}
.page3_btn {
  padding: 4rem 0rem;
}
.page3_btn a {
  border-radius: 10rem;
  color: #f6f6f6;
  padding: 1.8rem 5rem;
  border: 1px solid #f6f6f6;
  text-decoration: none;
}
.anim_up {
  height: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}
.anim_up h2 {
  transform: translateY(100%);
  line-height: 1;
}

/* ===========================CLIENTELE LIST======================================================================================================= */
.cli {
  position: relative;
  z-index: 8;
  padding: 8rem;
}
.cli .cli_toptxt {
  /* text-align: center; */
  /* color: #adadad; */
  padding: 8rem 0rem;
  width: 80%;
}
.cli_toptxt h5 {
  color: #c9c9c9;
}
.cli_toptxt h6 {
  margin-top: 2rem;
}
.clientslist {
  display: flex;
  flex-direction: column;
  /* border: 0.1rem solid #151515; */
  gap: 2rem;
}
.cli_grid {
  display: flex;
  gap: 2rem;
}
.cli_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: #ffffff0d;
  padding: 2rem 2rem;
  height: 18vh;
  overflow: hidden;
  position: relative;
}
.cli_text {
  background: transparent;
}

.cli_container .firstimg {
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: invert(1) brightness(0.7);
  object-fit: contain;
  padding: 2rem;
  transition: 0.2s ease-in-out;
}
.firstimg,
.secondimg {
  position: absolute;
}
.cli_container .secondimg {
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: contain;
  transition: 0.2s ease-in-out;
  padding: 2rem;
}
.cli_container:hover .firstimg {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.cli_container:hover .secondimg {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

/* =========================================Home_page_ TESTIMONIALS========================================================================== */
.reviews {
  position: relative;
  z-index: 9;
  padding: 8rem;
  text-align: center;
  min-height: 100vh;
}
.reviews h6 {
  margin-bottom: 4rem;
}
.reviews h3 {
  line-height: 1.2;
}
.thumb_container {
  display: inline-block;
  width: 12rem;
  height: 1.2em;
  position: relative;
  top: 1rem;
}
.thumbnails {
  display: inline-block;
  width: 12rem;
  height: 1.2em;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
  border: 0.1rem solid #464646;
  cursor: pointer;
}
.thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playicon {
  display: inline-block;
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  right: -1rem;
  background-color: #ffffff;
  border-radius: 20rem;
  cursor: pointer;
}
.playicon svg {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0rem;
}
#playicon1 {
  fill: #1574d8;
}
#playicon2 {
  fill: #ff0059;
}
#playicon3 {
  fill: #ffa700;
}
#playicon4 {
  fill: #3f3f3f;
}

.testi_more {
  padding-top: 8rem;
}
.testi_more a {
  padding: 1.8rem 5rem;
  color: #f6f6f6;
  background-color: #1574d8;
  border-radius: 50rem;
}

.modal_video {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0rem;
  z-index: 25;
  backdrop-filter: blur(1rem);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video_container {
  position: relative;
  width: 25vw;
  height: 90vh;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
}
.video_container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-video__controls {
  display: none;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
  position: absolute;
  /* bottom: 1rem; */
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  background-color: #15151558;
  border-radius: 10rem;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close svg {
  width: 100%;
  height: 100%;
}
.close svg path {
  stroke: #f6f6f6;
  fill: #f6f6f6;
}
/* =================EARTH ================================================================================== */

.earth {
  z-index: 10;
  position: relative;
  top: 4rem;
}
.solar {
  width: 100vw;
  overflow: hidden;
  object-fit: cover;
}
.solar object {
  width: 100%;
}
.shade {
  position: absolute;
  width: 100vw;
  height: 50vh;
  bottom: 0rem;
  background: linear-gradient(0deg, #151515 21.15%, rgb(21 21 21 / 0%) 100%);
}

/* ===================================     F.A.Q ============================================================================================= */
.faq {
  z-index: 11;
  position: relative;
  padding: 8rem;
  border-bottom: 0.2rem solid #303030;
}
.faq_header {
  width: 70%;
  margin-bottom: 8rem;
}
.faq_main_container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.faq_container {
  position: relative;
  margin: 0rem 20rem 0rem 0rem;
  padding: 2rem;
  background-color: #202020;
  border-radius: 0.5rem;
}
.faq_question {
  /* padding-bottom: 2rem; */
  /* color: #151515; */
  color: #f6f6f6;
}
.plus,
.minus {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.plus svg,
.minus svg {
  width: 3rem;
  height: 3rem;
}
#plus {
  stroke: #605f5f;
  transition: 0.2s ease-in-out;
}
.plus:hover #plus {
  stroke: #f6f6f6;
  transition: 0.2s ease-in-out;
}
#minus {
  stroke: #f6f6f6;
}
.faq_answer_container {
  color: #6d6d6d;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.minus {
  display: none;
}

/* ==================================================ABOUT US PAGE=================================================================== */
.aboutuspage{
  background: #151515;
}
.aboutus{
  min-height: 100vh;
  width: 100vw;
  padding: 5vh 5vw;
}
.aboutuscontainer{
 background: #1f1f1f;
 height: calc(100vh - 10vh);
  border-radius: 50vh;
  position: relative;
  display: flex;
  align-items: center;
}
.abtuslogo{
  width: 100%;
position: relative;
padding: 0rem 15rem;
}
.abtuslogo svg{
  position: relative;
  width: 100%;
}
.abtuslogo h6{
  text-align: center;
  padding: 0rem 5rem;
}
/* =====================================================SERVICE PAGE======================================================== */
.effectcards{
  display: flex;
  padding: 8rem;
}
.wgmts{
  width: 100%;
}
.rightsservwk{
  width: 100%;
  position: relative;
}
.wkdivcontainer{
  position: relative;
  top: 0rem;
  width: 100%;
  height: 60vh;
  
}
#wkdiv1{
  background: red;
  position: absolute;
  top:0rem;
  width: 50%;
  height: 100%;
}
#wkdiv2{
  background: rgb(195, 255, 0);
  position: absolute;
  top:0rem;
  width: 50%;
  height: 100%;
}
#wkdiv3{
  background: rgb(81, 0, 255);
  position: absolute;
  top:0rem;
  width: 50%;
  height: 100%;
}
/* ===========================================================OUR WORK============================================================================== */

.workhead {
  padding: 12rem 8rem 8rem 8rem;
  color: #151515;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
}

.wrk1_bt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wk1_l {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.wk1num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  color: #f6f6f6;
  /* height: 100%; */
  height: 10rem;
  padding: 2rem;
  width: 10rem;
  border-radius: 50rem;

  /* aspect-ratio: 1/1; */
}
.wrk1_bt h5 {
  font-size: 2.5rem;
}
.headwork span {
  /* color: #151515; */
  font-style: italic;
}

.workpagemain span {
  display: inline-block;
  background: #ffa700;
  color: white;
  transform: rotate(-10deg);
  font-size: 15rem;
  position: relative;
  bottom: 2rem;
}

.work_sect {
  /* min-height: 100vh; */
  height: auto;
  position: relative;
  /* padding: 8rem; */
}
.wkmain {
  position: relative;
}

.txtwk {
  /* width: 50%; */
  height: 100vh;
  position: absolute;
  background-color: black;
  top: 0rem;
  display: flex;
  align-items: self-end;
  overflow: hidden;
  /* transition: width 0.5s ease; */
}
.wkbtm {
  position: relative;
  bottom: 5rem;
  /* width: 100%; */
}
.le_wk {
  padding: 8rem 4rem 4rem 8rem;
  text-wrap: nowrap;
}
.le_wk_btm {
  padding: 0rem;
  padding-left: 8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.worksvg {
  display: inline;
}
.worksvg svg {
  width: 2rem;
  height: 2rem;
}
.transformed_container {
  position: relative;
  top: 0rem;
}
.tra_section {
  display: flex;
  gap: 4rem;
  width: 100vw;
  padding: 0rem 8rem;
  transform-origin: 50% 0;
  /* transform: translate3d(40%, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(15deg) rotateY(-9deg) rotateZ(32deg) skew(0deg, 0deg); */
  /* transform: translate3d(42%, 20%, 0px) scale3d(0.8, 0.8, 1) rotateX(56deg) rotateY(-12deg) rotateZ(35deg) skew(0deg, 0deg); */
  transform: translate3d(30%, 18%, 0px) rotate(10deg) rotateY(325deg)
    rotateX(40deg) scale3d(0.8, 0.8, 1) skew(2deg, 0deg);
  transform-style: preserve-3d;
}
.imgroll1 {
  transform: translate3d(0px, -15.4581vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.imgroll2 {
  transform: translate3d(0px, 5.4581vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.imgroll3 {
  transform: translate3d(0px, -10.4581vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.imagecontainer_work {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
}
.imagecontainer_work div {
  width: 100%;
  height: 60vh;
}
.imagecontainer_work div img {
  width: 100%;
  border-radius: 1rem;
  height: 100%;
  object-fit: cover;
}

.casestudies {
  min-height: 100vh;
  position: relative;
  z-index: 4;
  margin-top: 10rem;
}
.casestudies .cstdy {
  background: #181818;
}
.cstdy {
  position: relative;
  overflow: hidden;
  height: 100vh;
  overflow-x: hidden;
}
.cstit {
  padding: 2rem 8rem;
}
.cstit h3 {
  position: relative;
  top: 1rem;
}
.cstdy h5 {
  position: sticky;
  top: 0;
  z-index: 10; /* Ensure it's above other content */
}
.horiz_scroll {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  min-width: 100vw;
  overflow: hidden;
  /* Optional: Enable smooth scrolling on iOS */
}
.cstdycontainer {
  min-width: 100vw;
  display: grid;
  height: 85vh;
  padding: 2rem;
  grid-template-columns: repeat(13, minmax(0, 1fr)); /* 3 columns */
  grid-template-rows: repeat(10, minmax(0, 1fr)); /* 4 rows */
  gap: 1.5rem;
  position: relative;
}
.casehoverlink {
  position: absolute;
}
.case_hover {
  position: absolute; /* Cover the entire container */
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  z-index: 10; /* Ensure it's above other content */
  cursor: pointer;
  border-radius: 50rem;
  background: #3f3f3f; /* Change cursor when hovering over case_hover */
  pointer-events: none;
  transition: width 0.3s, height 0.3s background-color 0.3s;
}

/* Styling for each card/box */
.cs {
  background-color: #f0f0f0; /* Adjust color as needed */
  border: 1px solid #000; /* Add a border for reference */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

/* Specific styling for each box */
.c1bx1,
.c2bx3 {
  grid-column: span 6 / span 6;
  grid-row: span 10;
}

.c1bx2,
.c2bx1 {
  grid-column: span 3;
  grid-row: span 3;
}
.c1bx3,
.c2bx2 {
  grid-column: span 4;
  grid-row: span 5;
}
.c1bx4,
.c2bx4 {
  grid-column: span 3;
  grid-row: span 7;
}

.c1bx5,
.c2bx5 {
  grid-column: span 4;
  grid-row: span 5;
}
.c2bx2 {
  grid-column: span 4;
  grid-row: span 6;
}
.c2bx5 {
  grid-column: span 4;
  grid-row: span 4;
}

.c3bx1 {
  grid-column: span 6;
  grid-row: span 10;
}
.c3bx2,
.c3bx3,
.c3bx4,
.c3bx5 {
  grid-column: span 3;
  grid-row: span 5;
}
.c3bx3,
.c3bx5 {
  grid-column: span 4;
  grid-row: span 5;
}

.c4bx1 {
  grid-column: span 3;
  grid-row: span 4;
}
.c4bx2 {
  grid-column: span 7;
  grid-row: span 10;
}
.c4bx3 {
  grid-column: span 3;
  grid-row: span 10;
}
.c4bx4 {
  grid-column: span 3;
  grid-row: span 6;
}

/* =======================================================CONTACT US================================================================================= */
.con_nav {
  border: none;
  padding: 2rem 8rem;
}
.con_page1 {
  display: flex;
  width: 100vw;
}
.con_head {
  display: flex;
  padding: 4rem 4rem 4rem 8rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.get_in_touch_btn a {
  padding: 2rem 5rem;
  border: 0.2rem solid #151515;
  border-radius: 5rem;
  text-decoration: none;
  color: #151515;
  font-family: "bondfire-sb";
  font-size: 2rem;
}
.con_head h2 {
  color: #151515;
  font-weight: lighter;
  font-family: "bondfire-sb";
}

.con_head_2 {
  display: flex;
  width: 100%;
  height: 100%;
}
.con_head_2 img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.con_p2 {
  padding: 8rem 8rem;
  min-height: 100vh;
}
.quest1,
.quest2,
.quest3 {
  margin-bottom: 6rem;
  position: relative;
}
.quest1 h4,
.quest2 h4,
.quest3 h4 {
  color: #151515;
  margin-bottom: 2rem;
}
.quest1 h6 {
  color: #adadad;
  font-weight: lighter;
  margin-bottom: 2rem;
}
.tab_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.con_tab label {
  cursor: pointer;
}
.con_tab label input[type="checkbox"] {
  display: none;
}

.con_tab label span {
  position: relative;
  padding: 1.2rem 3rem;
  border: 0.2rem solid #303030;
  color: #303030;
  border-radius: 5rem;
  display: inline-block;
  margin: none;
  font-size: 1.6rem;
  font-family: "bondfire-re";
}
.con_tab label input[type="checkbox"]:checked ~ span {
  background: #151515;
  color: #f6f6f6;
  transition: 0.3s ease-in-out;
}

.top_con {
  display: flex;
  gap: 4rem;
  margin-bottom: 4rem;
}
.input-group {
  position: relative;
  width: 100%;
}
.input-group label {
  position: absolute;
  color: #7e7d7d;
  left: 0%;
  bottom: 1.5rem;
  font-size: 1.8rem;
  font-family: "bondfire-li";
  font-weight: lighter;
  pointer-events: none;
}
.input-group input,
.input-group textarea {
  width: 100%;
  font-size: 1.8rem;
  font-family: "bondfire-li";
  font-weight: lighter;
  padding: 1.5rem 1.5rem 1.5rem 0rem;
  border: none;
  outline: none;
  border-bottom: 0.2rem solid #7e7d7d;
}
.text label {
  position: absolute;
  color: #7e7d7d;
  left: 0;
  bottom: 4rem;
  font-size: 1.8rem;
  font-family: "bondfire-li";
  font-weight: lighter;
  pointer-events: none;
  transition: 0.3s ease all;
}

textarea:focus ~ label,
input:focus ~ label,
input:valid ~ label {
  top: -1rem;
  font-size: 1.4rem;
  color: #151515;
  font-weight: bold;
  transition: 0.2s ease all;
}

input:focus,
input:valid,
textarea:focus {
  color: #151515;
  border-bottom: 0.2rem solid #151515;
  transition: 0.2s ease all;
}
.submit_btn {
  position: absolute;
  bottom: 2rem;
  right: 0rem;
}
.submit_btn a {
  padding: 2rem 20rem;
  border-radius: 10rem;
  background: #ffa700;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.career {
  min-height: 100vh;
  padding: 8rem;
}
.car_container {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
}
.car_con {
  width: 100%;
  min-height: 80vh;
  background: #f6f6f6;
  /* border-radius: 5rem; */
}

/* ================================================================================================================================ */

.con_footer {
  min-height: 100vh;
  padding: 12rem 10rem 0rem 10rem;
}
.ftr {
  z-index: 20;
  position: relative;
}
.ft_div {
  display: flex;
  gap: 8rem;
}
.ft_col1 {
  width: 130%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
}
.ft_col1 h4 span {
  color: #ffa700;
}
.cta h6 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: "bondfire-li";
  font-weight: lighter;
}
.cta h5 {
  margin-bottom: 2rem;
  font-weight: lighter;
  font-size: 3rem;
  font-family: "bondfire-re";
}
.cta h5 a {
  color: #f6f6f6;
  font-size: 3rem;
  font-family: "bondfire-re";
  text-decoration: none;
  font-weight: lighter;
}

.social_icons {
  float: right;
}
.social_icons a {
  position: relative;
  width: 3rem;
  height: 3rem;
  color: black;
  display: inline-block;
}
.social_icons a img {
  height: 100%;
  width: 100%;
}
.follow {
  display: flex;
  gap: 1rem;
  padding: 1.8rem 4rem;
  background: #f6f6f6;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.follow p {
  color: #151515;
  font-size: 2.5rem;
  font-weight: bold;
}
.icons {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-evenly;
}
.ft_col2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.handshake_con {
  width: 100%;
  height: 100%;
}
.handshake_con video {
  width: 100%;
  border-radius: 0.5rem;
}
.con_footer hr {
  height: 0.1rem !important;
  background-color: #151515;
  opacity: 0.1;
  margin: 4rem 0rem 2rem;
}
.copyrights {
  display: flex;
  justify-content: space-between;
}
.copyrights a,
.copyrights p {
  color: #6d6d6d;
  text-decoration: none;
}

/* =====================================MEDIA QUERY================================================================= */

@media screen and (max-width: 299.98px) {
  html {
    font-size: 40%;
  }

  .navbar-collapse,
  .call {
    display: none;
  }
}

@media screen and (max-width: 359px) and (min-width: 298px) {
}
@media screen and (max-width: 480px) and (min-width: 299px) {
  html {
    font-size: 45%;
  }
  h1 {
    font-size: 6rem;
    font-family: "bondfire-bl";
    font-weight: bolder;
    text-transform: uppercase;
  }
  h2 {
    font-size: 5rem;
    font-family: "bondfire-bd";
  }
  h3 {
    font-size: 4rem;
    font-family: "bondfire-sb";
  }
  h4 {
    font-size: 4rem;
    font-family: "bondfire-sb";
  }
  h5 {
    font-size: 3rem;
    font-family: "bondfire-sb";
  }
  h6 {
    font-size: 2.5rem;
    font-family: "bondfire-re";
    font-weight: normal;
  }
  p {
    font-size: 1.8rem;
    font-family: "bondfire-re";
  }
  a {
    font-size: 1.8rem;
    font-family: "bondfire-me";
    text-decoration: none;
  }
  .no-scroll {
    overflow: hidden;
  }

  .navbar {
    padding: 2rem 3rem;
  }
  .nav-r a {
    display: none;
  }
  .modal {
    width: 90vw;
    height: auto;
    padding: 8rem 4rem 4rem 4.5rem;
    bottom: 4rem;
  }
  .cross {
    right: 3rem;
    top: 3rem;
  }

  .aside_container ul li a {
    font-size: 3.5rem;
  }
  .sidenav p {
    margin: 0rem 0rem 1rem 0rem;
    font-size: 2.2rem;
    color: #898989;
  }
  .socialslink {
    flex-direction: column;
    gap: 1rem;
  }
  .socials {
    flex-direction: column;
    gap: 4rem;
  }
  .aside_btn a {
    width: 100%;
    bottom: 0rem;
    display: block;
    text-align: center;
    font-size: 2rem;
  }
  .sidenav ul li:hover svg {
    position: relative;
    width: 5rem;
    transition: 0.3s ease-in-out;
    height: auto;
    bottom: 0.5rem;
  }

  .head_wrapper {
    padding: 2rem;
    justify-content: start;
    flex-direction: column;
  }
  .feelfree h5 {
    font-size: 2.5rem;
    display: none;
  }
  .header-content {
    width: 100%;
    padding: 2rem;
    padding-bottom: 0rem;
  }
  .header-content h5 {
    font-size: 1.8rem;
  }
  .header-content h1 {
    font-size: 6rem;
    line-height: 1.3;
  }
  .head_top {
    margin-bottom: 2rem;
  }

  .head_one {
    margin-bottom: 0rem;
  }
  .head_two {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0rem;
  }
  .head_two img {
    width: 10rem;
    height: 6rem;
    border-radius: 10rem;
    margin-right: 2rem;
  }

  .head_three {
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }
  #drawingCanvas{
    display: none;
  }
  .google_search {
    display: block;
    position: relative;
    width: 100%;
    height: 40vh;
    border-radius: 0rem;
    overflow: hidden;
    background-color: black;
    z-index: 2;
  }
  .storyboard{
    position: relative;
    padding: 2rem;
  }
  .toploader{
    display: flex;
    gap: 0.4rem;
  }
  .toploader .progressstry{
    width: 100%;
    height: 0.2rem;
    background-color: rgb(48, 48, 48);
    border-radius: 1rem;
    }
    .toploader .progressstry .storyinloader{
      width: 0%;
      height: 100%;
      position: relative;
      left: 0rem;
      background: white;
      transition: width 15s linear;
    }
    .bondfireimage{
      display: flex;
      width: 100%;
      /* height: 4rem; */
      padding: 1.5rem 1rem 1rem 0rem ;
      gap: 2rem;
      justify-content: space-between;
    }
    .secondlayerstory{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .storytitle{
      display: flex;
      flex-direction: column;
    }
    .storytitle h6{
      font-size: 1.6rem;
    }
    .storytitle p{
      font-size: 1.2rem;
      color: #878787;
    }
    .bfmimg{
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50rem;
      background-color: white;
      padding: 0.5rem;
    }
    .bfmimg svg{
      width: 100%;
      height: 100%;

    }
    .threedots{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .threedots div{
      width: 3px ;
      height: 3px ;
      background: white;
      border-radius: 5rem;
    }
    .storymain{
      text-align: center;
    }
    .storymain > div {
      display: none;
      /* opacity: 0; */
      transition: opacity 0.5s ease;
  }
  
  .storymain > div.active {
      display: block;
      opacity: 1;
  }
  .progress-bar {
    width: 0%;
    height: 5px; 
    transition: width 15s linear; 
}
    
    .storyinloader {
      transition: width 15s linear;
    }

    .strategydisplay, .designdisplay, .developmentdisplay {
      width: 100%;
      overflow: hidden;
  }
    .strategydisplay  h6, .designdisplay h6, .developmentdisplay h6 {
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    font-family: "bondfire-bd";
    padding: 0.5rem;
  }
  
   .strategyservices,.Designservices, .Developmentservices{
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: 3rem 0rem;
    position: relative;
    animation: moveLeft 15s linear infinite;

   }
   @keyframes moveLeft {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-180%);
    }
}
   .Designservices, .Developmentservices{

    animation: moveLeft1 15s linear infinite;

   }
   @keyframes moveLeft1 {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-250%);
    }
}
   

  .storyloop{
    width: 25rem;
    height: 16rem;
    flex-shrink: 0; 
    min-width: 25rem; 
    min-height: 16rem; 
    position: relative;
  }
  .storyloop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .storyloop::before{
   content: "";
   width: 100%;
   height: 30%;
   position: absolute;
   top: 0rem;
   left: 0rem;
   background: rgb(21,21,21);
background: linear-gradient(180deg, rgba(21,21,21,1) 30%, rgba(0,0,0,0) 100%);

  }
  .storyloop p{
    position: absolute;
    width: 100%;
    top: 1rem;
  }
  .active-display {
      display: block;
  }
  .n_a_p{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0rem;
    display: flex;
    top: 5rem;
  }
  .prev, .next{
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .next{
    background-color: transparent;
  }

  
  /* .google_search video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  } */
  .p_g1{
    padding: 2rem ;
    white-space: nowrap;
    overflow: hidden;
  }

  .p_g1containger {
    gap: 4rem;
    height: auto;
    will-change: transform;
    justify-content: flex-start;
    animation: marquee 10s linear infinite;
    /* flex-direction: row-reverse; */
    animation-delay: 2s;
  }
  .p_g1 img[alt="redbull"] {
    padding: 0.8rem 1rem;
}
  .hmpglogo{
    width: 12rem ;
    height: auto;
    flex-shrink: 0; /* Prevent logos from shrinking */
  }

  .duplicate{
    display: block;
  }
  /* Keyframes for the marquee effect */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-165%);
  }
}
  .page2 {
    margin-top: 100vh;
    /* opacity: 0;
    z-index: 1; */
    /* display: none; */
  }
  .inner_pg {
    right: 3rem;
  }
  .p2_txt {
    padding: 8rem 3rem;
  }
  .p2_txt h3 {
    width: 100%;
    margin-bottom: 4rem;
    font-size: 5rem;
  }
  .p2_txt {
    display: block;
  }
  .p2rbtm h3{
    margin-bottom: 0rem;
  }
  .p2_left {
    flex-direction: row;
    width: 100%;
  }
  .ashtrik_ .logo {
    width: 35vw;
    padding: 3.5rem;
  }
  .p2conn {
    /* position: relative; */
    transform-origin: center;
  }
  .p2conn span {
    transform-origin: 0% 16vw;
  }
  .wk_mar_con{
    animation: marquee 50s linear infinite;
    animation-delay: 2s;

  }
  .wk_mar_con h2{
    font-size: 3.5rem;
  }

  .p_g3container {
    display: flex;
    flex-direction: column;
  }
  .p3l {
    width: 100vw;
    padding: 4rem;
    gap: 2rem;
  }
  .c_loader {
    width: 100vw;
    height: 0.2rem;
    top: auto;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
  }
  #loadcontroller{
    width: 0%;
    height: 100%;
  }
  .p3r {
    width: 100vw;
    padding: 0rem 0rem;
    flex-direction: row;
    gap: 0rem;
    min-height: auto;
    overflow: hidden;
  }
  .casehead {
    flex-direction: column;
    width: 100vw;
    padding: 4rem 3rem;
    padding-bottom: 1rem;
  }
  .casestudy {
    padding: 0rem;
    border: none;
    padding-right: 0rem;
    gap: 2rem;
    border-right: 1px solid white;
  }
  .caseimage {
    height: auto;
    padding: 0rem 3rem;
  }
  .caseserv p{
    font-size: 1.6rem;
  }




  .cstdycontainer {
    height: 90vh;
    flex-direction: column;
  }
  .cs {
    width: 100%;
    height: 100%;
    background-color: #393939;
    color: #f6f6f6;
    border-radius: 0.5rem;
  }

  /* .cs1col1,.cs1col2, .cs1col3, 
.cs2col1,.cs2col2, .cs2col3, 
.cs3col1,.cs3col2, .cs3col3, 
.cs4col1,.cs4col2, .cs4col3 {
  display: flex;
  flex-direction: column;
} */
  .cs1col1,
  .cs2col3,
  .cs3col1,
  .cs4col2 {
    height: 100%;
    width: 100%;
    padding: 1rem;
  }

  .cs1col2,
  .cs1col3,
  .cs2col1,
  .cs2col2,
  .cs3col2,
  .cs3col3,
  .cs4col1,
  .cs4col3 {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 2rem;
  }

  .cs1col2 {
    width: 100%;
  }
  .cs1col3 {
    width: 100%;
  }
  .c1bx2 {
    height: 50%;
  }

  .cs2col1 {
    width: 100%;
  }
  .cs2col2 {
    width: 40%;
  }
  .c2bx1 {
    height: 30%;
  }

  .cs3col2 {
    width: 20%;
  }
  .cs3col3 {
    width: 30%;
  }

  .cs4col1 {
    width: 25%;
  }
  .cs4col3 {
    width: 25%;
  }
  .c4bx1 {
    height: 50%;
  }

  .services-heading {
    display: block;
    padding: 8rem 3rem;
  }
  .offer_container {
    padding: 0rem 2rem;
  }
  .each_offers {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .serv_title {
    top: 0rem;
  }
  .serv_title h1 {
    font-size: 6rem;
    top: 0rem;
    text-align: start;
  }
  .sub_serv {
    position: relative;
    gap: 1rem;
    opacity: 1;
    justify-content: start;
    flex-wrap: wrap;
    bottom: 0rem;
  }
  .sub_serv p {
    padding: 1rem 2rem;
  }

  .wk {
    padding: 8rem 3rem !important ;
    display: block;
  }
  .sp{
    width: 100%;
  }
  .industries {
    width: 100%;
    gap: 4rem;
  }
  .crd {
    height: 40vh;
  }

  .hwdt h1 {
    font-size: 10rem;
  }

  .img_container_p3 {
    width: 100vw;
    height: 33.33vh;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0rem;
    box-shadow: 1.5rem 0 2rem rgba(0, 0, 0, 0.11);
  }
  .img_container_p3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #col1 {
    position: absolute;
    left: 200%;
    top: 66.66vh;
    background: #1574d8;
  }
  #col2 {
    position: absolute;
    left: 150%;
    top: 33.33vh;
    background: #ff0056;
  }
  #col3 {
    position: absolute;
    left: 100%;
    top: 0vh;
    background: #ffa700;
  }

  .p3_text {
    width: 100vw;
    min-height: 66.66vh;
    position: absolute;
    bottom: 0%;
    color: #f6f6f6;
    margin-top: 33.33vh;
    padding: 8rem 3rem 0rem 3rem;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    /* top: 50%;
  transform: translateY(-50%); */
  }
  .anim_up {
    height: auto;
  }
  .hwdt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hwdt h1 {
    text-align: center;
  }
  .cli {
    padding: 0rem 3rem;
  }
  .cli .cli_toptxt {
    padding: 0rem;
    width: 100%;
  }
  .cli .cli_toptxt h6 {
    padding: 2rem 0rem;
  }
  .clientslist {
    flex-direction: row;
  }
  .cli_grid {
    flex-direction: column;
    width: 100%;
  }
  .cli_container {
    height: 12vh;
    padding: 0rem 1rem;
  }

  .reviews {
    padding: 8rem 3rem;
    text-align: start;
    min-height: auto;
  }
  .testi_more {
    padding-top: 4rem;
  }
  .playicon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .shade {
    height: 7vh;
  }
  .faq {
    padding: 8rem 3rem;
  }
  .faq_header {
    width: 100%;
  }
  .faq_container {
    margin: auto;
    padding-left: 4rem;
  }
  .faq_question {
    padding-right: 2rem;
  }
  .video_container {
    width: 80vw;
    height: 85vh;
  }

  .workhead {
    padding: 8rem 3rem;
    min-height: 85vh;
    gap: 4rem;
    justify-content: space-evenly;
  }
  .wrk1_bt {
    flex-direction: column;
  }

  .con_page1 {
    flex-direction: column;
  }
  .con_head {
    padding: 8rem 3rem;
    gap: 4rem;
  }
  .con_p2 {
    padding: 8rem 3rem;
  }
  .top_con {
    flex-direction: column;
  }
  .submit_btn {
    bottom: -8rem;
    text-align: center;
  }
  .submit_btn a {
    padding: 2rem 10rem;
  }

  .career {
    padding: 8rem 3rem;
  }
  .car_container {
    flex-direction: column;
  }

  .car_con {
    min-height: 30vh;
    border-radius: 1rem;
  }

  .con_footer {
    padding: 8rem 3rem;
  }

  .ftr {
    padding: 8rem 3rem;
  }
  .ft_div {
    flex-direction: column;
  }
  .ft_col1,
  .ft_col2 {
    width: 100%;
  }
  .copyrights {
    flex-direction: column;
  }
}
@media screen and (max-height: 660px) and (max-width: 380px) {}
@media screen and (max-width: 767px) and (min-width: 481px) {}
@media screen and (max-width: 960px) and (min-width: 768px) {}
@media screen and (min-width: 960px) and (max-width: 1024px) {}
@media screen and (max-width: 1280px) and (min-width: 1025px) {}
@media screen and (max-width: 1400px) and (min-width: 1281px) {}
@media screen and (min-width: 1400px) {}



